<div id="<%= dom_id building %>">

  <p>
    <strong>Building name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Total residential area:</strong>
    <%= building.total_residential_area %>
  </p>

  <p>
    <strong>Total usable area:</strong>
    <%= building.total_usable_area %>
  </p>

  <p>
    <strong>Plot area:</strong>
    <%= building.plot_area %>
  </p>

  <p>
    <strong>Adresse:</strong><br>
    <%= @building.street %> <%= @building.house_number %><br>
    <%= @building.zip_code %> <%= @building.city %><br>
    <%= @building.state %><br>
    <%= @building.country %>
  </p>
</div>
