<%= form_with(model: housing_unit) do |form| %>
  <% if housing_unit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(housing_unit.errors.count, "error") %> prohibited this housing_unit from being saved:</h2>

      <ul>
        <% housing_unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :residential_area, style: "display: block" %>
    <%= form.text_field :residential_area %>
  </div>

  <div>
    <%= form.label :usable_area, style: "display: block" %>
    <%= form.text_field :usable_area %>
  </div>

  <div>
    <%= form.label :total_area_share, style: "display: block" %>
    <%= form.text_field :total_area_share %>
  </div>

  <div>
    <%= form.label :building_id, style: "display: block" %>
    <%= form.text_field :building_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
