<div id="<%= dom_id housing_unit %>">
  <p>
    <strong>Residential area:</strong>
    <%= housing_unit.residential_area %>
  </p>

  <p>
    <strong>Usable area:</strong>
    <%= housing_unit.usable_area %>
  </p>

  <p>
    <strong>Total area share:</strong>
    <%= housing_unit.total_area_share %>
  </p>

  <p>
    <strong>Factor (share of total residential area):</strong>
    <%= housing_unit.factor %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= "#{housing_unit.building.name} (ID: #{housing_unit.building_id})" %>
  </p>

</div>
